.buttonGoogle {
  cursor: pointer;
}

.buttonGoogle {
  width: 84%;
  height: 42px;
  margin: auto;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.google {
  padding-left: 93px;
  padding-right: 10px;
}
.googletext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/* mobile view */
@media only screen and (max-width: 480px) {
 
  .buttonGoogle {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: 35px;
  }
  .google {
    padding: 0;
  }

}
